header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  a{
    display: flex;
    justify-content: center;
  }
  img{
    width: 80%;
    z-index: 1;
  }
}
@media only screen and (max-width: 767px) {
  header{
    img{
      width: 50%;
    }
  }
}