<div class="container" *ngIf="topic$ | async as topic">
  <div class="title-container">
    <h2>{{ topic.title }}</h2>
    <p><span class="author">{{ topic.author }}</span> le {{ topic.date }}</p>
  </div>
  <div class="topic-content">
    <p>{{ topic.content }}</p>
  </div>
  <div class="responses-container">
    <div class="response" *ngFor="let response of responses$ | async; let i = index">
      <div class="response-img">
        <img src="https://media-public.canva.com/p_zfs/MADhHwp_zfs/3/t.png" alt="write icon">
      </div>
      <div class="response-content">
      <p>{{ response.content}}</p>
      <p class="postedby"><span class="author">{{ response.author }}</span> {{ response.date }}</p>
      </div>
      <a (click)="onDeleteResponse( response.id )" class="delete-btn" role="button" tabindex="0"><img
          src="https://cdn.pixabay.com/photo/2014/03/25/15/19/cross-296507_960_720.png" alt="delete"></a>
    </div>
  </div>
  <form [formGroup]="responseForm" (ngSubmit)="onResponse()">
    <label for="content">Répondre à ce sujet:</label>
    <textarea id="content" formControlName="content" placeholder="Entrez votre message ici..." style="color: #000"></textarea>
    <div class="action-buttons">
      <button type="submit" class="btn btn-one" [disabled]="!responseForm.valid">
        <span>Répondre</span>
      </button>
    </div>
  </form>
</div>
<a (click)="onDeleteTopic()" class="delete-btn" role="button" tabindex="0"><img
    src="https://cdn.pixabay.com/photo/2014/03/25/15/19/cross-296507_960_720.png" alt="delete"></a>