#header{
  width: 100%;
}

#side-menu{
  position: absolute;
  right: -140px;
  top:0;
  padding: 0 15px;
}

.container {
  margin: 0 auto;
  width: 70%;
  position: relative;
  padding: 1% 0 3% 0;
  .line {
    &--top {
      position: absolute;
      top: 0;
      right: -15%;
      border-top: 1px solid #D9D9D9;
      width: 130%;
    }

    &--bottom {
      bottom: 0;
      right: -15%;
      position: absolute;
      border-bottom: 1px solid #D9D9D9;
      width: 130%;
    }

    &--right {
      right: 0;
      top: -6%;
      position: absolute;
      border-right: 1px solid #D9D9D9;
      height: 112%;
    }

    &--left {
      top: -6%;
      left: 0;
      position: absolute;
      border-left: 1px solid #D9D9D9;
      height: 112%;
    }
  }
}
@media screen and (max-width: 767){
  
}