.unauthorized{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  height: 200px;
  box-shadow: 17px 17px 26px 10px #000;
  h2, span{
    color: #000;
  }
  span{
    font-weight: 600;
    text-decoration: underline;
  }
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  .profil{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .profil-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    img{
      width: 120px;
      height: 120px;
      background: #d9d9d9;
      border-radius: 50%;
      border: 3px solid red;
      object-fit: cover;
      object-position: top;
    }
    a{
      font-size: 16px;
      color: #00C700;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 767px) {
  .container{
    .profil {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      img{
        width: 100px;
        height: 100px;
      }
    }
  }
}