.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  .profil{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .profil-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    img{
      width: 120px;
      height: 120px;
      background: #d9d9d9;
      border-radius: 50%;
      border: 3px solid red;
      object-fit: cover;
      object-position: top;
    }
    a{
      font-size: 16px;
      color: green;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}