
.container{
  margin-top: 10vh;
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  h2 {
    position: absolute;
    top: 2vh;
    font-size: 3.5vh;
    text-decoration: underline;
  }
  .profil-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    img{
      width: 20vh;
      height: 20vh;
      background: #d9d9d9;
      border-radius: 50%;
      border: .5vh solid red;
      object-fit: cover;
      object-position: top;
    }
    a{
      font-size: 2.5vh;
      color: green;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}