<div class="login-form-card">
  <h2>Créer un compte</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onregister()">
    <div class="form-container">
      <div class="form-group">
        <div class="form-saisie">
          <label for="name">Nom:</label>
          <input type="text" id="name" formControlName="nom"placeholder="Entrez votre nom ici..." style="color: #000" [ngClass]="{'fail': errormsg == 'nom'}">
        </div>
        <span class="error" *ngIf="f['nom'].errors">Saisissez un nom !</span>
      </div>
      <div class="form-group">
        <div class="form-saisie">
          <label for="firstname">Prénom:</label>
          <input type="text" id="firstname" formControlName="prenom" placeholder="Entrez votre prénom ici..." style="color: #000" [ngClass]="{'fail': errormsg == 'prenom'}">
        </div>
        <span class="error" *ngIf="f['prenom'].errors">Saisissez un prénom !</span>
      </div>
      <div class="form-group">
        <div class="form-saisie">
          <label for="email">Email:</label>
          <input type="email" id="email" oninput="this.value = this.value.toLowerCase()" formControlName="email" placeholder="Entrez votre adresse email ici..." style="color: #000" [ngClass]="{'fail': errormsg == 'email'}">
        </div>
        <span class="error" *ngIf="f['email'].errors ">Saisissez un email !</span>
      </div>
      <div class="form-group">
        <div class="form-saisie">
          <label for="password">Mot de passe:</label>
          <input type="password" id="password" formControlName="password" placeholder="Entrez votre mot de passe ici..." style="color: #000" [ngClass]="{'fail': errormsg == 'password'}">
        </div>
        <span class="error" *ngIf="f['password'].errors">Saisissez un mot de passe</span>
      </div>
    </div>
    <div class="action-buttons">
      <span class="error" *ngIf="error">{{ error }}</span>
      <button  type="submit" class="btn btn-one" [disabled]="!registerForm.valid">
        <span>Valider</span>
      </button>
    </div>
  </form>
</div>

