<nav id="side-menu">
  <ul>
    <li ><a routerLink="/auth/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Signup</a></li>
    <li><a  routerLink="/auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
    <li><a routerLink="/profil/:id" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profil</a></li>
    <li><a routerLink="/index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
    <li><a routerLink="/forum" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Forum</a></li>
    <li><a routerLink="/instamania" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Instamania</a></li>
  </ul>
</nav>