<div class="login-form-card">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-container">
      <div class="form-group">
        <div class="form-saisie">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" id="email" placeholder="Entrez votre adresse email ici..." style="color: #000">
        </div>
        <span class="error" *ngIf="f['email'].errors">Saisissez votre email !</span>
      </div>
      <div class="form-group">
        <div class="form-saisie">
          <label for="password">Mot de passe:</label>
          <input type="password" formControlName="password" id="password" placeholder="Entrez votre mot de passe ici..." style="color: #000">
        </div>
      <span class="error" *ngIf="f['password'].errors">Saisissez votre mot de passe !</span>
      </div>
    </div>
    <div class="action-buttons">
      <button type="submit" class="btn btn-one" [disabled]="!loginForm.valid">
        <span>Valider</span>
      </button>
    </div>
  </form>
  
</div>
