.login-form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  form {
    margin-top: 15px;
    width: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    .form-saisie {
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        margin-right: 3vh;
      }

      input {
        min-height: 30px;
        width: 70%;
      }
    }

    .error {
      color: red;
      width: 60%;
      text-align: center;
      margin: 0 auto;
      margin-top: 1.5vh;
      text-decoration: underline;
    }
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    margin: 0 auto;
  }

  button {
    background: inherit;
    border: none;
  }

  .btn-one {
    transition: all 0.3s;
    position: relative;
  }

  .btn-one span {
    letter-spacing: .3vh;
    transition: all 0.3s;
  }

  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 255, 58, 0.8);
    border-bottom-color: rgba(0, 255, 58, 0.8);
    transform: scale(0.1, 1);
  }

  .btn-one:hover span {
    letter-spacing: 2px;
  }

  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }

  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0, 255, 0, 0.1);
  }

  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }
}